---
import Header from "../components/Header.astro";
import '../components/style.css'
import Footer from "../components/Footer.astro";
import BlogPost from "../components/BlogPost.astro";

const blogPosts = 1;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>[TLG]</title>
	</head>
	<body>
		<Header />
        <section id="blog-posts">
            <div id="blog-posts">
                <p>blog posts: {blogPosts}</p>
            </div>
        </section>

        <BlogPost 
            postTitle="how did I get here ?"
            postDate="2024-04-08"
            postName="how-did-i-get-here"
        />
        
		<Footer />
	</body>
</html>
