---

---


<hr>

<footer>
    <div id="left">
        <p>&copy; 2024 | thelocalgodd</p>
        <p>astro * github pages</p>
    </div>
    <div id="right">
        [tlg]
        <p id="heading">
            <a href="https://github.com/thelocalgodd">
                <u>
                    source code
                </u>
            </a>
        </p>
    </div>
        
</footer>