---
import '../components/style.css';
---

<header>
    <div id="container">
        <p id="logo">[tlg]</p>

        <nav>
            <ul>
                <li>
                    <a href="mailto:splashvincentk@outlook.com">
                        📧
                    </a>
                </li>
                <li>
                    <a href="https://github.com/thelocalgodd">
                        🧑‍💻
                    </a>
                </li>
                <li>
                    <a href="tel:+233257107474">
                        📞
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="navigation">
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/projects">projects</a>
                </li>
                <li>
                    <a href="/blog">blog</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<hr>