@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: rgb(102, 102, 102);
        }
    }
}

body {
    background-color: rgb(240, 240, 240);
    width: 800px;
    margin: auto;
}

header {
    #container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 10px;

        #logo {
            padding: 0 10px;
        }

        nav {
            padding: 5px;
            border-radius: 20px;
            background-color: rgb(214, 214, 214) ;

            ul {
                display: flex;
                list-style: none;

                li {
                    margin: 0 5px;
                }
            }
        }
    }

    #navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 10px;

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 5px 10px;
            }
        }
    }
}



section#welcome {
    display: flex;
    align-items: center;
    margin: 0 10px;


    #text-box-intro {
        border: 1px solid black;
        margin: 20px 10px 50px;
        padding: 20px;
        width: 60%;
        border-radius: 20px;
    
        #heading {
            color: grey;
        }
    }

    #image-box {
        display: flex;

        #container {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                width: 40%;
                border: 1px solid black;
                margin: 10px;
                border-radius: 20px;
            }
            
            button {
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 3px 10px;
                border-radius: 10px;
            }
        }
    }
}

section#tech-used {
    border: 1px solid black;
    margin: 0 20px;
    padding: 20px;
    border-radius: 20px;

    #heading {
        color: grey;
    }

    #container {
        justify-content: space-between;
        align-items: center;
        
    }
}

section#featured {
    padding: 50px 20px;

    #featured {
        margin: 10px 0;
    }

    #container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

hr {
    border: 1px solid black;
    margin: 20px 0 0px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;

    #left {
        text-align: left;

    }

    #right {
        text-align: right;
    }
}

#more-projects {
    padding: 0px 20px;
}

/*
Text Box Component Styling
*/

#text-box {
    border: 1px solid black;
    margin: 0px 0px;
    padding: 20px;
    width: 200px;
    border-radius: 20px;

    white-space: pre-line;

    #heading {
        color: grey;
    }
}


/*
Blog Component Styling
*/

#blog-post {
    #container {
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 20px;
            padding: 5px;
            background-color: rgb(214, 214, 214);
            border-left: 1px solid black;
        }
    }
}

/*
About Page Styling
*/

section#pretext {
    margin: 30px 20px;
    width: 55%;
}

section#about-textboxes {
    margin: 0 20px;
    display: flex;

    #text-box:nth-child(1) {
        height: fit-content;
    }

    #text-box:nth-child(2) {
        margin: 0px 30px;
        width: 300px;
    }
}

/*
Blog Page Styling
*/

section#blog-posts {
    margin: 0 20px;
    
    #blog-posts {
        border: 1px solid black;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 20px;
        margin-bottom: 50px;
    }
}


/*
Blog Post Styling
*/

#blog-post-head {
    display: flex;
    justify-content: space-between;
    
    margin: 10px 20px;
    border-left: 1px solid black;
    padding: 5px;
    background-color: rgb(214, 214, 214);
}

#blog-post-content {
    margin: 20px 0 30px 20px;

    p {
        span {
            background-color: rgb(102, 102, 102);
            color: white;
            padding: 0 5px;
        }
    }
}

/*
Project Page Styling
*/

section#project-page {
    margin: 0 20px;

    #project-text-boxes {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
}