@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}
* a:hover {
  color: rgb(102, 102, 102);
}

body {
  background-color: rgb(240, 240, 240);
  width: 800px;
  margin: auto;
}

header #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
header #container #logo {
  padding: 0 10px;
}
header #container nav {
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(214, 214, 214);
}
header #container nav ul {
  display: flex;
  list-style: none;
}
header #container nav ul li {
  margin: 0 5px;
}
header #navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
header #navigation ul {
  display: flex;
  list-style: none;
}
header #navigation ul li {
  margin: 5px 10px;
}

section#welcome {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
section#welcome #text-box-intro {
  border: 1px solid black;
  margin: 20px 10px 50px;
  padding: 20px;
  width: 60%;
  border-radius: 20px;
}
section#welcome #text-box-intro #heading {
  color: grey;
}
section#welcome #image-box {
  display: flex;
}
section#welcome #image-box #container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section#welcome #image-box #container img {
  width: 40%;
  border: 1px solid black;
  margin: 10px;
  border-radius: 20px;
}
section#welcome #image-box #container button {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  border-radius: 10px;
}

section#tech-used {
  border: 1px solid black;
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
}
section#tech-used #heading {
  color: grey;
}
section#tech-used #container {
  justify-content: space-between;
  align-items: center;
}

section#featured {
  padding: 50px 20px;
}
section#featured #featured {
  margin: 10px 0;
}
section#featured #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: 1px solid black;
  margin: 20px 0 0px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
footer #left {
  text-align: left;
}
footer #right {
  text-align: right;
}

#more-projects {
  padding: 0px 20px;
}

/*
Text Box Component Styling
*/
#text-box {
  border: 1px solid black;
  margin: 0px 0px;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  white-space: pre-line;
}
#text-box #heading {
  color: grey;
}

/*
Blog Component Styling
*/
#blog-post #container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
  padding: 5px;
  background-color: rgb(214, 214, 214);
  border-left: 1px solid black;
}

/*
About Page Styling
*/
section#pretext {
  margin: 30px 20px;
  width: 55%;
}

section#about-textboxes {
  margin: 0 20px;
  display: flex;
}
section#about-textboxes #text-box:nth-child(1) {
  height: fit-content;
}
section#about-textboxes #text-box:nth-child(2) {
  margin: 0px 30px;
  width: 300px;
}

/*
Blog Page Styling
*/
section#blog-posts {
  margin: 0 20px;
}
section#blog-posts #blog-posts {
  border: 1px solid black;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 50px;
}

/*
Blog Post Styling
*/
#blog-post-head {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  border-left: 1px solid black;
  padding: 5px;
  background-color: rgb(214, 214, 214);
}

#blog-post-content {
  margin: 20px 0 30px 20px;
}
#blog-post-content p span {
  background-color: rgb(102, 102, 102);
  color: white;
  padding: 0 5px;
}

/*# sourceMappingURL=style.css.map */
